.AppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  &-UserControls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &-Name,
  &-Logo {
    cursor: default;
  }

  &-Name {
    max-height: 2rem;
    max-width: 50vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-UserButton,
  &-LogoutButton {
    color: var(--primary-color);
    cursor: pointer;
    height: 40px;
    margin-left: 1rem;
    width: 35px;

    &:hover {
      color: var(--primary-color-light);
    }
  }
}
