.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.text-left {
  text-align: left;
}

.user-controls {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logout-button {
  margin-left: 1rem;
}
