.AppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &-UserControls {
    display: contents;
    align-items: center;
    margin-left: auto;
  }

  &-LogoutButton {
    margin-left: 1rem;
  }
}
