@import '../../shared/mixins/modal.scss';

.MessagePage {
  &-TitleRow {
    display: flex;
    margin-bottom: 1rem;
  }

  &-Title {
    flex-grow: 1;
  }

  &-NextButton {
    margin-left: 10px;
  }

  &-Modal {
    @include modal(800px);
  }

  &-ModalError {
    @include modal-error();
  }

  &-ModalSuccess {
    @include modal-success();
  }
  &-ModalPreview {
    background-color: #1a226420 !important;
    padding: 1rem;
  }

  &-ModalContent {
    @include modal-content();
    max-width: 400px;
  }

  &-ModalClose {
    @include modal-close();
  }

  &-ModalSwitch {
    align-items: center;
    margin: 1rem 0 -1rem;
  }

  &-ModalSubmit {
    @include modal-submit();
  }
}
